body{
    display: block;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    padding: 5rem 2rem;
    background-image: url(students.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
}
div{
    background-color: rgb(49, 49, 105, 0.7);
    text-align: center;
    align-content: center;
    border-radius: 10px;
}
.black{
    background-color: rgb(21, 21, 21, 0.7);
}
button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bolder;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}
#increment-btn{
    background-color: #4A90E2;
}
#decrement-btn{
    background-color: #154360;
}
#save-btn{
    background-color: #1f789b;
}
#reset-btn{
    background-color: #154360;
}